Screen {
    align: center middle;
}

/* The top level dialog (a Container) */
#dialog {
    background: $panel;
    color: $text;
    border: tall $background;
}

/* The button class */
Button {
    width: 1fr;
}

/* Matches the question text */
.question {
    text-style: bold;
    content-align: center middle;
}

/* Matches the button container */
.buttons {
    width: 100%;
    height: 50%;
    dock: bottom;
}